/* en sass hay que decirle a la API que archivo es el principal y cuales se van a incluir en ese archivo de esta manera
    app.scss seria el archivo principal
    _variables.scss seria el arvhibo que incluimos y lo incluimos poniendo un _ al archivo que creemos
*/

//tipografia
$fuente_principal: 'Montserrat',sans-serif;

//colores

$verde: #4CB8B3;
$rosa: #F53756;
$amarillo: #F3F46D;
$morada: #752F97;
$negro: #000;
$blanco: #fff;

